.error {
    margin: 3em;
    padding: 6em;
    background-color: var(--product__background);
    text-align: center;
}

.error>* {
    padding: 1em;
    color: var(--product__title);
}

.error__return, .error__return:any-link {
    text-decoration: none;
    color: var(--product__title);
}

.error__return:hover {
    color: #846a29;
}