.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  margin: 10px;
  width: 100%;
  max-width: 90vw;
  max-height: 500px;
  min-width: 100px;
  background-color: var(--product__background);
  z-index: 1;
  color: var(--product__title);
  gap: 5px;
}

.product__rating {
  display: flex;
}

.product > img {
  max-height: 200px;
  width: 100%;
  object-fit: contain;
  margin-bottom: 15px;
}

.product > button {
  background: #f0c14b;
  border: 1px solid;
  margin: 10px 0;
  border-color: #a88734 #9c7e31 #846a29;
  color: #111;
  cursor: pointer;
}

.product__price {
  margin-top: 5px;
}

.product__info {
  height: 100px;
  margin-bottom: 15px;
}

.product__title {
  text-decoration: none;
  font-weight: bold;
  color: var(--product__title);
}

.product__title:any-link {
  text-decoration: none;
}

.product__title:hover {
  color: #846a29;
}

.product__prop {
  padding: 0.5em;
}
